@model IEnumerable<CartVM>
@{
    ViewData["Title"] = "Cart";
}

<div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">Shopping cart</li>
                </ol>
              </nav>
            </div>
            <div id="basket" class="col-lg-12">
              <div class="box">
                <form method="get" action="/Customer/Cart/Checkout" class="cart-form">
                  <h1>Shopping cart</h1>
                  <p class="text-muted">You currently have <span class="item-count"> @Model.Count()</span> <span class="item-count-unit">@(@Model.Count() > 1 ? "items": "item") </span> in your cart.</p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2">Product</th>
                          <th>Size</th>
                          <th>Quantity</th>
                          <th>Unit price</th>
                          <th>Discount</th>
                          <th colspan="2">Total</th>
                        </tr>
                      </thead>
                      <script>let isCartChanged = false</script>
                      <tbody class="cart-table-body">
                            @{double total=0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                  <td><a href="#"><img src="@item.ProductImage" alt="@item.ProductName"></a></td>
                                  <td><a href="#">@item.ProductName</a></td>
                                  <td>@item.Size</td>
                                  <td>
                                    <input type="number" min="0" max="@item.StockQuantity" name="@item.StockId" value="@item.Quantity" class="form-control qty-input">
                                  </td>
                                  <td>@item.Price.ToString("c")</td>
                                  <td>$0.00</td>
                                  <td class = "item-total">@((item.Price*item.Quantity).ToString("c"))</td>
                                  <td><a href="/Customer/Cart/DeleteItem" id="@item.StockId" class="cart-item-delete"><i class="fa fa-trash-o"></i></a></td>
                                </tr>  
                                
                                <tr @(total += @item.Price*@item.Quantity) )></tr>
                            }
                                    </tbody>
                      <tfoot class="cart-table-foot">
                        <tr>
                          <th colspan="6">Total</th>
                          <th class="cart-total" colspan="2">@total.ToString("c")</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.table-responsive-->
                  <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                    <div class="left"><a asp-action="Index" asp-controller="Product" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Continue shopping</a></div>
                    <div class="right">
                      <button class="btn btn-outline-secondary update-cart-btn" formaction="/Customer/Cart/Update" type="button"><i class="fa fa-refresh"></i> Update cart</button>
                      @if(@Model.Count()>0){
                        <button type="submit" onclick="return checkCartChanged()" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i></button>

                      }
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.box-->
              <div class="row same-height-row">
                <div class="col-lg-3 col-md-6">
                  <div class="box same-height">
                    <h3>You may also like these products</h3>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/product2.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/product2_2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/product1.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/product3.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/product3_2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
              </div>
            </div>
            <!-- /.col-lg-12-->
          </div>
        </div>
      </div>
    </div>

@section Scripts{
<script src="~/js/updateCart.js"></script>
}