@model IEnumerable<HyperShop.Models.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipCost)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @String.Format("{0:c}", item.ShipCost)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.CityName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CityName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CityName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
