@using System.Security.Claims
@model ProductDetailVM
@{
    ViewData["Title"] = "Hyper Shop - " + Model.Product.Name;
}
<input asp-for="Product.Id" hidden class="product-id" />
<div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Ladies</a></li>
                  <li class="breadcrumb-item"><a href="#">Tops</a></li>
                  <li aria-current="page" class="breadcrumb-item active">White Blouse Armani</li>
                </ol>
              </nav>
            </div>

            <div class="col-lg-12">
              <div id="productMain" class="row">
                <div class="col-md-6 product-carousel">
                  <div data-slider-id="1" class="owl-carousel shop-detail-carousel">

                  </div>
                  @*<div class="ribbon sale">
                    <div class="theribbon">SALE</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                  <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->*@
                </div>
                <div class="col-md-6">
                  <div class="box">
                    <h1 class="text-center">@Model.Product.Name</h1>
                    <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material &amp; care and sizing</a></p>
                    <p class="price">@Model.Product.Price.ToString("c")</p>
                    <p class="text-center buttons"><button type="submit" form="cart-form" value="Submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button><a href="basket.html" class="btn btn-outline-primary"><i class="fa fa-heart"></i> Add to wishlist</a></p>
                    <form id="cart-form" action="/Customer/Cart/AddToCart" method="post">
                    <div class = "color-pick">
                        <h3 class="mt-3">Choose Color</h3>
                    @for(int i=0;i< Model.Colors.Count;i++)
                    {
                        if (i == 0)
                        {
                            <label>
                                <input type="radio" name="colorId" checked value="@Model.Colors[i].ColorId">
                                <img src="@Model.Colors[i].PrimaryImage" width="50">
                            </label>           
                        }
                        else{
                            <label>
                            <input type="radio" name="colorId" value="@Model.Colors[i].ColorId">
                            <img src="@Model.Colors[i].PrimaryImage" width="50">
                        </label>  
                        
                        }           
                    }
                    </div>
                    <div  >
                        <h3 class="mt-3">Choose Size</h3>
                    </div>
                    <ul class="flex-container longhand size-pick">
                                @foreach (var item in Model.Sizes)
                                {
                                    <li class="flex-item"><input disabled id="@item.Id" type="radio" class="size-input" name="sizeId" value="@item.Id"><label class="size-label" for="@item.Id">@item.SizeValue</label></li>
                                }
                                </ul>
                                <input name="productId" hidden value="@Model.Product.Id"/>
                                <input name="quantity" hidden value="1"/>
                                <input name="price" hidden value="@Model.Product.Price"/>
                     </form>
                            </div>
                    
                <div data-slider-id="1" class="owl-thumbs">

                  </div>
                </div>
              </div>
              <div id="details" class="box">
                <p></p>
                <h4>Product details</h4>
                @Html.Raw(@Model.Product.Description)
                
                <hr>
                <div class="social">
                  <h4>Show it to your friends</h4>
                  <p><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></p>
                </div>
              </div>
              <div class="row same-height-row">
                <div class="col-md-3 col-sm-6">
                  <div class="box same-height">
                    <h3>You may also like these products</h3>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/product2.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/product2_2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/product1.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/product3.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/product3_2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
              </div>
              <div class="row same-height-row">
                <div class="col-md-3 col-sm-6">
                  <div class="box same-height">
                    <h3>Products viewed recently</h3>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/product2.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/product2_2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/product2.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/product1.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/product1_2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/product1.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="product same-height">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="detail.html"><img src="img/product3.jpg" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="detail.html"><img src="img/product3_2.jpg" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="detail.html" class="invisible"><img src="img/product3.jpg" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3>Fur coat</h3>
                      <p class="price">$143</p>
                    </div>
                  </div>
                  <!-- /.product-->
                </div>
              </div>


              <div class="feedback">
  <span class="medium-text">Product review and feedback</span>
  <div class="divide"></div>
  <div class="comments-list">
    

    <div class="comment">
      <div class="customer-avatar">
        <i class="far fa-user-circle medium-text"></i>&nbsp; &nbsp;<span>lam</span>
      </div>
      <div class="comment-content">
        <span class="light-gray-color">ay yo</span>
      </div>
      
      <div class="comment-response">
        <div class="arrow"></div>
        <div class="customer-avatar">
            <i class="far fa-user-circle medium-text"></i>&nbsp; &nbsp;<span>tung</span>
        </div>
        <div class="small-text black-color">
            ádsadsad
        </div>
    </div>
    <form class="response-form" action="/api/response/" method="post" autocomplete="off">
      <input type="text" class="rep-comment" name="response" placeholder="Reply comment .....">
      <button hidden></button>
    </form>
      <div class="divide"></div>
    </div>
    
  </div>

  <div class="pages">
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      
      <ul class="pagination">
        <li class="page-item cursor-pointer"><a class="page-link">First</a></li>
           
        <li class="page-item cursor-pointer active">
          <a class="page-link">1</a>
        </li>
           
        <li class="page-item cursor-pointer">
          <a class="page-link">2</a>
        </li>
           
        <li class="page-item cursor-pointer">
          <a class="page-link">3</a>
        </li>
           
        <li>
          <a class="page-link cursor-pointer" id="3">Last</a>
        </li>
        
      </ul>
      
    </nav>
  </div>

  <form class="comment-form" id="@Model.Product.Id" action="/customer/comment/post" method="post">
    <div class="add-comment">
      <input type="text" name="comment" class="comment-input mb-3" placeholder="leave a comment....." autocomplete="off">
    </div>
    <button type="submit" class="btn btn-info comment-button">Post</button>
  </form>
</div>
            </div>
            <!-- /.col-md-9-->
          </div>
        </div>
      </div>
    </div>

@section CSS{
    <link rel="stylesheet" type="text/css" href="/css/image.radio.css">
}
@section Scripts{
    <script type="text/javascript">
        const productId = @Model.Product.Id
        let taking = 7;
        let page = 1;
        let lastPage;        
    </script>
<script src="~/js/loadStock.js"></script>
<script src="~/js/addToCart.js"></script>
<script src="~/js/comment.js"></script>
}