@model HyperShop.Models.ViewModels.StockVM

	@{
	ViewData["Title"] = "Stock";
}
<div class="m-5">
<p>
	<a asp-action="Create"  asp-route-productId="@Model.ProductId">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Stock[0].Image)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.Stock[0].ColorValue)
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model.Stock) {
		<tr>
			<td>
				<img class="img-fluid" src="@item.Image" style="width:50px;">
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.ColorValue)
			</td>
			<td>
				<a asp-action="Edit" asp-route-colorid="@item.Id" asp-route-productId="@Model.ProductId">Edit</a>
			</td>
		</tr>
}
	</tbody>
</table>
</div>